@import 'node_modules/govuk-frontend/dist/govuk/base';

.container {
  margin-bottom: 16px;
}

.inner {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f3f2f1;
}

.header {
  margin-bottom: 16px;
  @include govuk-media-query($from: desktop) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.chart-container {
  position: relative;
  width: 100%;
}

.scale-buttons {
  display: flex;
  @include govuk-media-query($from: desktop) {
    justify-content: flex-end;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: grid;
  align-self: end;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 1px;
  border-top: 1px solid rgb(232, 232, 232);
  margin-top: 20px;
}

.footer-button-wrapper {
  float: left;
  border-right: 1px solid rgb(225, 225, 225);
}

.footer-button {
  font-family: $govuk-font-family;
  color: $govuk-brand-colour;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 25px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend__item {
  width: 50%;
  @include govuk-media-query($from: tablet) {
    width: auto;
  }
}

.lagend__label {
  display: block;
  position: relative;
  font-family: $govuk-font-family;
  padding-left: 30px;
  margin: 16px 12px 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lagend__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.legend__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-width: 1px;
  border-style: solid;
}

.legend__checkmark_checked {
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle_buttons {
  @include govuk-media-query($from: desktop) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
