.button {
  position: relative;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 25px;
  color: #1d70b8;
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  line-height: 1.25;
  &:hover {
    color: #003078;
    span {
      text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
      -webkit-text-decoration-skip: none;
      text-decoration-skip: none;
    }
  }
  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow:
      0 -2px #ffdd00,
      0 4px #0b0c0c;
    text-decoration: none;
    span {
      text-decoration: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
  }
  span {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1em;
  }
}

.button-open {
  &::before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: inherit;
  }
}
