@import 'node_modules/govuk-frontend/dist/govuk/base';

.container {
  background-color: #f3f2f1;
}

.chart-container {
  position: relative;
  margin: 0 -8px;

  @include govuk-media-query($from: tablet) {
    margin: 0 auto;
  }

  // @include govuk-media-query($from: desktop) {
  //   height: 400px;
  // }
}

.scale-buttons {
  display: flex;
  @include govuk-media-query($from: desktop) {
    justify-content: flex-end;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: grid;
  align-self: end;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 1px;
  border-top: 1px solid rgb(232, 232, 232);
  margin-top: 20px;
}

.footer-button-wrapper {
  float: left;
  border-right: 1px solid rgb(225, 225, 225);
}

.footer-button {
  font-family: $govuk-font-family;
  color: $govuk-brand-colour;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 25px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
