@import 'node_modules/govuk-frontend/dist/govuk/base';

.root {
  margin-bottom: 16px !important;

  @include govuk-media-query($from: desktop) {
    display: flex;
    height: 44px;
    align-items: center;
  }
}

h4.heading {
  @include govuk-media-query($from: tablet) {
    margin-bottom: 0 !important;
  }
}

.button-group {
  margin-bottom: 0 !important;
}

.inline {
  display: flex;
}
